.mainDiv {
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    background-color: #f9f3fe;
    height: auto;
  }
  
  .mainDiv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .custom-placeholder::placeholder {
    color: #9c27b0; /* Example: Purple */
    opacity: 1; /* Important to make sure it's visible */
  }
  
  .mainDiv > * {
    position: relative;
    z-index: 2;
  }
  
  @media (max-width: 600px) {
    .mainDiv {
      padding: 40px 0;
    }
  }
  
  .submitBtn {
    background-color: #fff;
    border: 1px solid #49326b;
    padding: 10px 15px;
    margin-top: 20px;
    width: 100%;
    color: #49326b;
    font-weight: 800;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  
  .submitBtn:hover {
    background-color: red;
    color: #f9f3fe;
    border: 1px solid #fff;
  }
  
  .joinusImage {
    width: 100%;
    max-width: 500px;
  }
  
  @media (max-width: 900px) {
    .joinusImage {
      display: none;
    }
  }